/* Center the entire form horizontally and vertically on the webpage */
body {
    background-image: url('../assets/universe.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px; /* Adjust margin for smaller screens */
    /* Further adjustments for smaller screens if needed */
    @media (max-width: 768px) {
        margin: 10px;
    }
}

/* Overall container */
.formContainer {
    background-color: #f3f3f3;
    color: #333;
    padding: 15px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

/* Styling for the form steps */
.formStep {
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    /* Adjust padding and margins for smaller screens */
    @media (max-width: 768px) {
        padding: 10px;
    }
}

/* Center form input elements within form steps */
.formStep input,
.formStep select,
.formStep textarea {
    display: block;
    margin: 0 auto;
}

.inputContainer {
    margin-top: 10px;
    text-align: center;
    /* Adjust margin-top for smaller screens */
    @media (max-width: 768px) {
        margin-top: 5px;
    }
}

label {
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
    margin-right: 10px;
    /* Adjust styles for smaller screens */
    @media (max-width: 768px) {
        margin-right: 0;
    }
}


select, input, textarea {
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}

span {
    font-style: italic;
}

/* Styling for the Summary component */
.summary {
    background-color: #f3f3f3;
    border-radius: 10px;
    margin: 10px;
    max-width: 400px;
    text-align: center;
    /* Adjust padding for smaller screens */
    @media (max-width: 768px) {
        padding: 10px;
    }
}

/* Button styling */
.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #777;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    /* Adjust styles for smaller screens */
    body {
        margin: 5px;
    }

    .formContainer {
        padding: 10px;
        max-width: 100%;
    }

    .summary {
        padding: 10px;
    }
}