/* Center the entire form horizontally and vertically on the webpage */
body {
    background-image: url('../assets/blue.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Overall container */
.formContainer {
    background-color: #f3f3f3;
    color: #333;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Styling for the form steps */
.formStep {
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

/* Center form input elements within form steps */
.formStep input,
.formStep select,
.formStep textarea {
    display: block;
    margin: 0 auto;
}

.inputContainer {
    margin-top: 10px;
    text-align: center;
}

label {
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
}

select, input, textarea {
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}

/* Styling for the Summary component */
.summary {
    background-color: #f3f3f3;
    border-radius: 10px;
    margin: 10px;
    max-width: 400px;
    text-align: center;
}

/* Button styling */
.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #777;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    /* Adjust styles for smaller screens */
    .formContainer {
        padding: 10px;
        max-width: 100%;
    }

    .summary {
        padding: 10px;
    }
}